$red:red;
$green:green;
$blue:blue;
$pink:pink;
$tomato:tomato;
$skyblue:skyblue;

//함수
@mixin myMixin($size){
    $width:100px;
    @if $size % 2 == 0{
        $width:$width + 50
    } @else if $size % 3 == 0{
        $width:$width + 100px
    } @else{
        $width:$width
    }
    
    width:$width;
    height:40px * 2;
    transition:.4s;
    &:hover{
        transform:scale(1.5) rotate(15deg)
    }
}
.wrap{
    display:flex;
    .box{
        cursor:pointer;padding:10px;
        &.red{background:&red;@include myMixin(1)}
        &.green{background:$green;@include myMixin(2)}
        &.blue{background:$blue;@include myMixin(3)}
        &.pink{background:$pink;@include myMixin(5)}
        &.tomato{background:$tomato;@include myMixin(7)}
        &.skyblue{background:$skyblue;@include myMixin(6)}
    }
}