.Test4 { width: 600px; margin:10px auto; display:flex}
.Test4 article {
    width:120px; height:120px;
    background:tomato; margin-right:10px;
    text-align: center;
    font-size:25px;
    line-height: 120px;
    transition: 0.4s;
}
.Test4 article:hover {
    transform: scale(1.2) rotate(45deg);
    background:skyblue
}